In [4]:
import pandas as pd

data= {
    'Item': ['Water Bottle', 'Pack', 'Tent', 'Pack'],
    'Category': ['Kitchen', 'Outdoors', 'Outdoors', 'Outdoors'],
    'Qty': [2, 1, 1, 4],
    'Weight': [12, 12, 5, 9],
}
df = pd.DataFrame(data).set_index('Item')
df

              Category  Qty  Weight
Item
Water Bottle   Kitchen    2      12
Pack          Outdoors    1      12
Tent          Outdoors    1       5
Pack          Outdoors    4       9

In [20]:
dfc = df.copy()
dfc.groupby('Category').apply(lambda df, a, b: sum(df[a] * df[b]), a='Qty', b='Weight')

Category
Kitchen     24
Outdoors    53
dtype: int64

In [5]:
df = pd.DataFrame({
    'Grade': ['D', 'D-', 'B+', 'B-', 'B'],
    'Student': ['Josh', 'Ann', 'Jack', 'Peter', 'Donna']
}).set_index('Student')
df

        Grade
Student
Josh        D
Ann        D-
Jack       B+
Peter      B-
Donna       B

In [6]:
from pandas.api.types import CategoricalDtype

c = CategoricalDtype(categories=['D-', 'D', 'B-', 'B', 'B+'], ordered=True)
df['Grade'] = df['Grade'].astype(c)
df.describe()

       Grade
count      5
unique     5
top       B+
freq       1