# Basic cvs load and additing a column

In [ ]:
import pandas

def add_full_name(path_to_csv, path_to_new_csv):
    #Assume you will be reading in a csv file with the same columns that the
    #Lahman baseball data set has -- most importantly, there are columns
    #called 'nameFirst' and 'nameLast'.
    #1) Write a function that reads a csv
    #located at "path_to_csv" into a pandas dataframe and adds a new column
    #called 'nameFull' with a player's full name.
    #
    #For example:
    #   for Hank Aaron, nameFull would be 'Hank Aaron', 
	#
	#2) Write the data in the pandas dataFrame to a new csv file located at
	#path_to_new_csv

    #WRITE YOUR CODE HERE
    df = pandas.read_csv(path_to_csv)
    df['nameFull'] = pandas.Series(df['nameFirst'] + ' ' + df['nameLast'])
    df.to_csv(path_to_new_csv)

if __name__ == "__main__":
    # For local use only
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # The dataset can be downloaded from this website: http://www.seanlahman.com/baseball-archive/statistics
    # We are using the file Master.csv
    path_to_csv = ""
    path_to_new_csv = ""
    add_full_name(path_to_csv, path_to_new_csv)

## list columns in a dataframe

In [23]:
import pandas

weather_data = pandas.read_csv('https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv')
weather_data.columns

Index(['date', 'maxpressurem', 'maxdewptm', 'maxpressurei', 'maxdewpti',
       'since1julheatingdegreedaysnormal', 'heatingdegreedaysnormal',
       'since1sepcoolingdegreedaysnormal', 'hail', 'since1julsnowfallm',
       'since1julheatingdegreedays', 'maxvisi',
       'since1sepheatingdegreedaysnormal', 'heatingdegreedays', 'mindewptm',
       'since1sepheatingdegreedays', 'maxwspdm', 'since1julsnowfalli',
       'since1sepcoolingdegreedays', 'snow', 'meanvism', 'meandewptm',
       'snowdepthm', 'meanvisi', 'fog', 'snowdepthi', 'minvism',
       'since1jancoolingdegreedays', 'minvisi', 'coolingdegreedaysnormal',
       'gdegreedays', 'maxwspdi', 'meanwindspdi', 'meanpressurei',
       'monthtodateheatingdegreedaysnormal', 'meanwindspdm', 'meanpressurem',
       'tornado', 'mindewpti', 'mintempi', 'meandewpti', 'rain', 'mintempm',
       'minhumidity', 'precipsource', 'minwspdi', 'meanwdird', 'meanwdire',
       'minwspdm', 'monthtodatesnowfalli',
       'monthtodatecoolingdegreedaysnormal', 'monthtodatesnowfallm',
       'maxhumidity', 'coolingdegreedays', 'maxtempm', 'minpressurei',
       'monthtodatecoolingdegreedays', 'maxtempi', 'minpressurem', 'humidity',
       'precipi', 'snowfalli', 'since1jancoolingdegreedaysnormal', 'precipm',
       'snowfallm', 'thunder', 'monthtodateheatingdegreedays', 'meantempi',
       'maxvism', 'meantempm'],
      dtype='object')

# quiz 1 (using pandasql to show rainy days)

In [19]:
import pandas
import pandasql


def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    filename = 'https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv'
    weather_data = pandas.read_csv(filename)

    weather_data.head(5)
    
    q = """
    SELECT count(*) FROM weather_data
    WHERE rain = 1
    """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days

print(num_rainy_days(""))

   count(*)
0        10

# quiz 2

In [24]:
import pandas
import pandasql


def max_temp_aggregate_by_fog(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return two columns and
    two rows - whether it was foggy or not (0 or 1) and the max
    maxtempi for that fog value (i.e., the maximum max temperature
    for both foggy and non-foggy days).  The dataframe will be 
    titled 'weather_data'. You'll need to provide the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT fog, max(maxtempi) FROM weather_data
    GROUP BY fog
    """
    
    #Execute your SQL command against the pandas frame
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days

print(max_temp_aggregate_by_fog('https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv'))

   fog  max(maxtempi)
0    0             86
1    1             81

# quiz 3

In [31]:
import pandas
import pandasql

def avg_weekend_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - the average meantempi on days that are a Saturday
    or Sunday (i.e., the the average mean temperature on weekends).
    The dataframe will be titled 'weather_data' and you can access
    the date in the dataframe via the 'date' column.
    
    You'll need to provide  the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    Also, you can convert dates to days of the week via the 'strftime' keyword in SQL.
    For example, cast (strftime('%w', date) as integer) will return 0 if the date
    is a Sunday or 6 if the date is a Saturday.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT avg(meantempi) FROM weather_data
    WHERE cast(strftime('%w', date) as integer) == 0 or cast(strftime('%w', date) as integer) == 6
    """
    
    #Execute your SQL command against the pandas frame
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends

avg_weekend_temperature('https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv')

   avg(meantempi)
0       65.111111

# Quiz 3

In [32]:
import pandas
import pandasql

def avg_min_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data. More specifically you want to find the average
    minimum temperature (mintempi column of the weather dataframe) on 
    rainy days where the minimum temperature is greater than 55 degrees.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT avg(mintempi) from weather_data
    WHERE rain = 1 and mintempi > 55
    """
    
    #Execute your SQL command against the pandas frame
    avg_min_temp_rainy = pandasql.sqldf(q.lower(), locals())
    return avg_min_temp_rainy

avg_min_temperature('https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv')

   avg(mintempi)
0          61.25

# Quiz 5 (working with csv, without pandas)

In [69]:
import csv

def fix_turnstile_data(filenames):
    '''
    Filenames is a list of MTA Subway turnstile text files. A link to an example
    MTA Subway turnstile text file can be seen at the URL below:
    http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
    
    As you can see, there are numerous data points included in each row of the
    a MTA Subway turnstile text file. 

    You want to write a function that will update each row in the text
    file so there is only one entry per row. A few examples below:
    A002,R051,02-00-00,05-28-11,00:00:00,REGULAR,003178521,001100739
    A002,R051,02-00-00,05-28-11,04:00:00,REGULAR,003178541,001100746
    A002,R051,02-00-00,05-28-11,08:00:00,REGULAR,003178559,001100775
    
    Write the updates to a different text file in the format of "updated_" + filename.
    For example:
        1) if you read in a text file called "turnstile_110521.txt"
        2) you should write the updated data to "updated_turnstile_110521.txt"

    The order of the fields should be preserved. Remember to read through the 
    Instructor Notes below for more details on the task. 
    
    In addition, here is a CSV reader/writer introductory tutorial:
    http://goo.gl/HBbvyy
    
    You can see a sample of the turnstile text file that's passed into this function
    and the the corresponding updated file by downloading these files from the resources:
    
    Sample input file: turnstile_110528.txt
    Sample updated file: solution_turnstile_110528.txt
    '''
    for name in filenames:
        result = []
        with open(name, 'r') as f:
            reader = csv.reader(f)
            
            n = 5
            for row in reader:
                r_body = row[3:]
                r_head = [row[0], row[1], row[2]]
                data = [r_head + r_body[i:i + 5] for i in range(0, len(r_body), 5)]
                result.append(data)
                
        print(data)
        #print(r_body)
        with open("updated_" + name, 'w') as fw:
            writer = csv.writer(fw)
            for rows in result: writer.writerows(rows)
            
fix_turnstile_data(['turnstile-110528.txt'])

[['A042', 'R086', '01-00-04', '05-27-11', '12:00:00', 'REGULAR', '000915806', '004180746'], ['A042', 'R086', '01-00-04', '05-27-11', '16:00:00', 'REGULAR', '000916090', '004181746'], ['A042', 'R086', '01-00-04', '05-27-11', '20:00:00', 'REGULAR', '000916517', '004182631']]

In [21]:
import pandas

df = pandas.DataFrame({ 
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424]
})

values = df['ENTRIESn'] - df['ENTRIESn'].shift(1)
df.insert(len(df.columns), 'ENTRIESn_hourly', values.fillna(1))
df

   ENTRIESn  ENTRIESn_hourly
0   3144312              1.0
1   3144335             23.0
2   3144353             18.0
3   3144424             71.0

In [22]:
import pandas as pd

df = pandas.DataFrame({
    'X': [4, 3],
    'Y': [5, 4],
    'Z': [4, 4]
}, index=['Red', 'Black'])
df

       X  Y  Z
Red    4  5  4
Black  3  4  4